<phpunit bootstrap="vendor/autoload.php">
    <extensions>
        <extension class="Tests\Hooks\BypassFinalHook"/>
    </extensions>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
            <exclude>
                <file>src</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>